[Desktop Entry]
Name = Coinvent
Comment = Open Blending Mechanism
Exec = $HOME/coinvent_demo/run_coinvent.sh
Icon = $HOME/coinvent_demo/coinvent.png
Terminal = false
Type = Application
Categories = Utility;Application;
