[Desktop Entry]
Name = Coinvent
Comment = Open Blending Mechanism
Exec = /home/ewen/coinvent_demo/run_coinvent.sh
Icon = /home/ewen/coinvent_demo/coinvent.png
Terminal = false
Type = Application
Categories = Utility;Application;
